body{
background:#DEB887;
font: normal 15pt Arial;
}

header{
color: black;
text-align: center;
}

section{
background: white;
border-radius: 10px ;
padding: 15px;
width: 500px;
margin: auto;
box-shadow: 5px 5px 10px rgba(0, 0, 0, 0.411);

}

footer{

    color: black;
    text-align: center;
    font-style: italic;

}